/* Basic */

/* roboto-condensed-regular - latin */
@font-face 
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-condensed-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/roboto-condensed-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-condensed-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-condensed-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-condensed-v25-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face 
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-condensed-v25-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/roboto-condensed-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-condensed-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-condensed-v25-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-condensed-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-condensed-v25-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

*
{
    margin:0;
    padding:0;

    box-sizing:border-box;
}

body
{
    background: url( '../images/bg-stars-2560.jpg' ) center top repeat-y #000000;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    color:#efefef;

    padding:10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

a,
span.link
{
    color: #188bdf;
    text-decoration: underline;

    cursor: pointer;
}

p
{
    margin-bottom: 10px;
}

i.red-icon
{
    color: #cc0000;
}

/* Loader */
#loader
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loader .loader-logo
{
    display: block;
}

#loader .loader-bar
{
    display: block;

    width: 100px;
    height: 6px;

    margin-top:10px;

    background-color: #122e49;

    overflow: hidden;
}

#loader .loader-bar .loader-bar-fill
{
    display: block;

    position: relative;
    left: -100px;

    width: 100%;
    height: 100%;

    background-color: rgba(12,90,147,1);

    animation: loaderAnimation 1.5s ease-in infinite;
}

@keyframes loaderAnimation 
{
    0% {
        left: -100px;
    }

    100% {
        left: 100px;
    }
}

/* Wrapper */
#content-container-grid
{
    position: relative;

    top: 50px;

    display: block;

    max-width: 540px;
}

#calculator,
#legal-info,
#content-container-grid
{
    position: relative;

    display: block;

    max-width: 540px;
}

#content-container
{
    width: 540px;
}

.sub-page .content-container
{
    background-color: rgba(141, 180, 224, 0.2);

    padding: 10px;
    margin-bottom: 10px;
}

.sub-page .text-wall
{
    padding: 20px;

    font-size: 16px;
    line-height: 1.4em;
}

/* Block description */
.block-desc-container
{
    position: relative;

    background: linear-gradient( 220deg, transparent 10px, rgba( 141, 180, 224, 0.2 ) 10px );

    height: 10px;
    width: 150px;

    font-size: 12px;
    font-style: italic;
    color: rgba( 255, 255, 255, 0.4 );

    padding-left: 10px;
    padding-top: 5px;

    overflow: visible;
}

.block-desc-container .block-desc-text
{
    position: relative;

    top: -2px;
}

/* Headline */
h1,
.headline
{
    padding-bottom: 5px;
    margin-bottom:10px;

    border-bottom:1px solid #efefef;

    text-align: center;
}

.sub-page .content-container h1
{
    text-align: left;

    font-size:32px;
    line-height: normal;
}

h2
{
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 10px;
}

h2.nospace
{
    margin: 0;
}

/* List styles */
ul
{
    margin-bottom: 20px;
}

ul li
{
    margin-left: 20px;
}

/* Text Style */
.text-block
{
    display:block;

    margin-bottom: 10px;
}

.subtitle-description
{
    font-size: 12px;
    color: rgba( 255, 255, 255, 0.5 );
}

.subtitle-tag
{
    display: inline-block;

    padding: 5px 10px;

    border-radius: 3px;

    color: rgba( 255, 255, 255, 0.9 );
    background-color: rgba(32, 87, 122, 0.9);

    line-height: 1.5em;
}

/* Changelog Style */
.changelog-entry
{
    border-bottom: 1px solid #efefef;

    margin-bottom: 20px;
}

.changelog-entry:last-child
{
    border: 0;
}


/* Grid Style */
.grid,
.calculator-grid,
#calculator-materials > .material
{
    display: grid;

    grid-template-columns: auto 140px;
    grid-gap: 5px;

    background-color: rgba(141, 180, 224, 0.2);

    padding: 10px;
    margin-bottom: 10px;
}

.calculator-grid.with-additional-side-button
{
    grid-template-columns: auto 40px;
}

.grid .grid-element.full,
.calculator-grid .grid-element.full
{
    grid-column: 1 / 3;
}

/* Inputs */
input,
select
{
    font-family: 'Font Awesome 5 Free', Arial, sans-serif;
    font-weight: bold;
}

.icon-input
{
    position: relative;
}

.icon-input input,
.icon-input select
{
    width: 100%;
    height: 40px;

    padding-left: 42px;
    padding-right: 5px;

    font-size: 16px;

    border: 1px solid #0a5688;
    border-radius: 0;
}

.icon-input.with-unit input
{
    padding-right: 42px;
}

.icon-input i
{
    position: absolute;
    left: 1px;
    top:1px;

    display: flex;
    justify-content: center;

    width: 38px;
    height: 38px;

    padding:9px;

    background-color: #05263E;
    color:#ffffff;

    font-style: normal;
    font-size: 20px;

    text-align: center;
}

.icon-input.with-unit .unit
{
    left: auto;
    right: 1px;

    font-size: 18px;
    text-align: center;
}

.icon-input.with-unit .unit.small
{
    font-size: 9px;
    line-height: 20px;
}

input[disabled],
select[disabled]
{
    color: #000000;
    opacity: 1;
}

input[readonly]
{
    background-color: #20577a;
    color: #ffffff;
}

input[readonly]::placeholder
{
    color: white;
    opacity: 1;
}

/* Buttons */
.button
{
    position: relative;

    cursor: pointer;

    opacity: 0.9;
}

.button:hover
{
    opacity: 1;
}

.button.with-icon i,
.button.only-icon i
{
    position: absolute;
    left: 1px;
    top:1px;

    width: 38px;
    height: 38px;

    padding:9px;

    background-color: #05263E;
    color:#ffffff;

    font-style: normal;
    font-size: 20px;

    text-align: center;
}

.button.only-icon i
{
    left: 0;
    top: 0;
}

.button.only-icon
{
    border: 1px solid rgba(12,90,147,1);

    width: 40px;
    height: 40px;
}

.button div
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40px;

    padding:8px 8px 8px 42px;

    border: 1px solid rgba(12,90,147,1);

    background: linear-gradient(0deg, rgba(5,38,62,1) 0%, rgba(12,90,147,1) 100%);
    color: #ffffff;

    font-size: 20px;

    text-align: center;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.button.finish.with-icon i
{
    position: absolute;
    left: 1px;
    top:1px;

    width: 38px;
    height: 38px;

    padding:9px;

    background-color: rgba(2,87,0,1);
    color:#ffffff;

    font-style: normal;
    font-size: 20px;

    text-align: center;
}

.button.finish div
{
    background: linear-gradient(0deg, rgba(2,87,0,1) 0%, rgba(0,195,9,1) 100%);

    border: 1px solid rgba(0,195,9,1);
}

.button.delete.with-icon i
{
    position: absolute;
    left: 1px;
    top:1px;

    width: 38px;
    height: 38px;

    padding:9px;

    background-color: rgb(87, 0, 0);
    color:#ffffff;

    font-style: normal;
    font-size: 20px;

    text-align: center;
}

.button.delete div
{
    background: linear-gradient(0deg, rgb(87, 0, 0) 0%, rgb(195, 0, 0) 100%);

    border: 1px solid rgb(195, 0, 0);
}

/* Footer */
.footer
{
    font-size: 0.75em;
}

.footer .right-positioned-link
{
    float: right;

    margin-left: 10px;
}

/* Footer Logos */
#footer-logos
{
    display: block;
    
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
}

#footer-logos > div.logo
{
    display: inline-block;

    opacity: 0.5;
}

/* Rock types overview section */
#calculator-rock-type-overview .rock-type-entry
{
    display: block;

    background-color: rgba(141, 180, 224, 0.2);

    padding: 10px;
    margin-bottom: 10px;
}

#calculator-rock-type-overview .rock-type-entry .info-grid
{
    display: grid;

    grid-template-columns: 140px auto;
    grid-gap: 5px;

    background-color: rgba(0,0,0,0.3);
}

#calculator-rock-type-overview .rock-type-entry .info-grid .grid-element.full
{
    grid-column: 1 / 3;
}

#calculator-rock-type-overview .rock-type-image
{
    overflow: hidden;
}

#calculator-rock-type-overview .rock-type-image img
{
    width: 300px;

    margin-top: 10px;
    margin-left: -70px;
}

#calculator-rock-type-overview .headline
{
    font-weight: bold;
    text-align: left;

    padding-left: 10px;
}

#calculator-rock-type-overview .rock-type-content
{
    margin-bottom: 10px;
}

#calculator-rock-type-overview .rock-content-entry
{
    margin-top: 10px;
    margin-right: 10px;

    border: 1px solid rgba(12,90,147,1);
}

#calculator-rock-type-overview .rock-content-entry .material-text
{
    font-size: 12px;

    padding: 3px 3px 3px 6px;

    background-color: #05263E;

    border-bottom: 1px solid rgba(12,90,147,1);
}

#calculator-rock-type-overview .rock-content-entry .bar
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 20px;

    font-size: 12px;
    line-height: 20px;

    color: #fff;
    text-align: center;

    background-color: rgb(44 56 64);
}

#calculator-rock-type-overview .rock-content-entry .bar .fill
{
    float: left;

    width: 0;
    height: 100%;

    border-left: 5px solid #cc0000;
    border-right: 5px solid #00cc00;

    background-color: rgba(12,90,147,0.8);
}

#calculator-rock-type-overview .rock-content-entry .bar .min-max-text
{
    position: absolute;
    left: 0;
}