@media only screen and (max-width: 540px)
{
    .fixed-width
    {
        width: auto;
    }
}

@media only screen and (max-width: 900px)
{
    #top-sidebar-button.sidebar-open
    {
        visibility: hidden;
    }

    #navigation-overlay.mobile-visible
    {
        display: block;
    }

    body.mobile-no-scroll
    {
        overflow: hidden;
    }
}